.rad-4 {
    display: block;
    overflow: auto;

}

.rad-4-p {
    text-align: right;
    font-size: 1.5vw;
    padding-top: 10%;
    padding-right: 25%;

}

.mobil-bild2 {
top: 0;
left: 0;
width: auto;
position: relative;
background-repeat: no-repeat;
background-size: 100% auto;
float: left;
}