/* statisk och responsiv video som croppas 100% om det croppas */ 
video {
display: block;
width: 100%;
max-height: 100%;
}

#rad3-video {
height: 400px;
background-color:white;
position: static;
width: auto;
height: auto;
}