@charset "UTF-8";
@media only screen and (max-width: 992px) {
  .row2-text {
    font-size: 1.8vw !important;
    margin-top: 3%; }
  .rad-4-p {
    font-size: 2vw !important; }
  footer {
    height: 250px !important; } }

@media only screen and (max-width: 768px) {
  .row2-text {
    font-size: 1.8vw !important;
    margin-top: 10%; }
  .rad-4-p {
    font-size: 2vw !important; }
  footer {
    height: 200px !important; } }

@media only screen and (max-width: 600px) {
  .mobil-bild2 {
    width: 50% !important; }
  .flex-mobil {
    width: 50%; }
  .row2-text {
    margin-top: 15%;
    margin-left: 10%; }
  footer {
    height: 180px !important; } }

@media only screen and (max-width: 480px) {
  .mobil-bild2 {
    width: 50% !important; }
  .flex-mobil {
    width: 50%; }
  .row2-text {
    margin-top: 15%;
    margin-left: 10%; } }

@media only screen and (max-width: 320px) {
  .header-container h1 {
    font-size: 4vw !important; }
  footer {
    height: 100px !important; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

html {
  font-size: 16px; }

body {
  width: 100%; }

.voodoo-text {
  text-align: center;
  padding-top: 5%; }

/* word wrap så texten inte åker utanför container */
.header-container {
  display: flex;
  flex-direction: column;
  position: relative;
  word-wrap: break-word; }

.head-bild {
  position: absolute;
  width: 100%; }

.rad-1 {
  margin-left: 5%;
  align-self: center;
  z-index: 1;
  text-align: right;
  margin-top: 20%;
  margin-right: 15%;
  margin-top: 42%;
  font-size: 1.5vw; }

.rad-1 h1 {
  text-align: right; }

.article > h1 {
  margin-top: 45%; }

/* flexbox för andra raden med text och mobil */
.row2-flexbox {
  display: flex;
  justify-content: flex-end; }

.row2-text {
  text-align: left;
  width: 50%;
  padding-top: 1.25%;
  font-size: 1.5vw; }

.rad-4 {
  display: block;
  overflow: auto; }

.rad-4-p {
  text-align: right;
  font-size: 1.5vw;
  padding-top: 10%;
  padding-right: 25%; }

.mobil-bild2 {
  top: 0;
  left: 0;
  width: auto;
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% auto;
  float: left; }

.rad-5-p {
  text-align: left;
  width: 30em;
  margin-right: auto;
  margin-left: auto;
  font-size: 2vw; }

.rad-6 {
  position: relative;
  width: 100%;
  height: 100%; }

/* positionering för att tip of the week text ska hamna ovanpå bilden */
.totw-img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% auto; }

/* positionering för att tip of the week text ska hamna ovanpå bilden */
#totwText {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 15%;
  font-size: 2vw; }

#totwText h1 {
  text-align: center; }

#totwText p {
  width: 30em;
  margin-right: auto;
  margin-left: auto; }

footer {
  height: 350px;
  background-color: #2A2E34; }

/* flexbox element för footer */
.flex-footer {
  display: flex;
  justify-content: space-evenly;
  color: white;
  padding-top: 5%; }

.flex-footer > div {
  font-size: 1.5vw; }

.footer-p2 {
  padding-top: 5%;
  text-align: right; }

/* statisk och responsiv video som croppas 100% om det croppas */
video {
  display: block;
  width: 100%;
  max-height: 100%; }

#rad3-video {
  height: 400px;
  background-color: white;
  position: static;
  width: auto;
  height: auto; }
